.container{
	width: 1000px;
	margin: 100px auto;
}
.wrap{
	width: 200px;
	float: left;
	background: #ccc;
	-webkit-perspective: 4000px;
	-webkit-transform-origin: 50% 50%;
}
.wrap img{
	width: 100%;
}
.wrap span{
	width: 200px;
}